/*import link for josephin slab font from google font*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*import link for sacremento font from google font*/
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

html {
    overflow-x: hidden;
    /*prevents browswer from displaying left right scroll bar from the negative margin values*/
    scroll-behavior: smooth;
    /*creates a smooth scrolling effect when jumping to links*/
}

/*navbar*/
.nav-bar {
    position: sticky;
    /*creates a sticky element that stays in the same screen location*/
    top: 0;
    /*sets the element at the top of the page in the browser*/
    z-index: 9;
    /*sets stack layer of element to the front/ top*/
}

ul {
    display: flex;
    /*creates a flex container that allows elements to expand or compress to fill the available horizontal space*/
    list-style-type: none;
    /*removes default styling for ul elements*/
    align-items: center;
    margin: -8px -8px 0px -8px;
    /*margin order = top right bottom left. negative values stretch beyond the browswer*/
    background-color: rgb(1, 128, 106);
    border-bottom: 5px solid rgb(247, 177, 188);
}

a {
    display: block;
    /*displays anchor elements vertically on a new line--makes a vertical dropdown menue instead of a horizontal one*/
    font-family: "Josefin Slab", serif;
    font-size: 25px;
    font-weight: 800;
    color: rgb(247, 177, 188);
    text-align: center;
    width: 100px;
    padding: 20px;
    text-decoration: none;
    transition: background-color 0.4s ease-in;
}

a:hover,
.drop:hover a:only-of-type
/*only of type affects the only child elements within an element. this keeps the background blue while hovering and the text white when the pointer moves to the anchor elements in the rollover-menu div */
    {
    background-color: rgb(149, 238, 223);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7);
    transition: background-color 0.4s ease-in;
}

.rollover-menu {
    display: none;
    /*prevents browswer from showing anchor links in this div until otherwise specified*/
    position: absolute;
    /*absolute positions div element reletive to the position of the parent element*/
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/*creates a trigger effect when user hovers pointer over element*/
.drop:hover .rollover-menu {
    display: block;
}

.rollover-menu a {
    color: rgb(0, 80, 67);
}

.rollover-menu a:hover {
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(90, 90, 90, 0.2);
}

.rollover-menu a:nth-child(1) {
    border-top: 5px solid rgb(238, 118, 136);
}

/*footer*/
footer {
    align-items: center;
    /*centers nested html elements like the table data and paragraph elements */
    margin: 0px -8px -8px -8px;
    /* stretches the footer background beyond the browswers edge*/
    background-color: rgb(1, 128, 106);
    border-top: 5px solid rgb(247, 177, 188);
    bottom: 0;
    /*positions footer at bottom of screen*/
}

table {
    width: 100%;
}

td {
    width: 33%;
}

td p {
    font-family: "Josefin Slab", serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: rgb(247, 177, 188);
}

/*body*/
.container {
    display: inline-block;
    background-size: 100%;
    padding-top: 60px;
    padding-left: 30px;
}

/*header*/
h1 {
    font-family: "Sacramento", cursive;
    font-size: 80px;
    color: rgb(0, 80, 67);
    text-align: center;
}

h2,
h3,
h4 {
    font-family: "Josefin Slab", serif;
    text-align: center;
}

h2 {
    color: rgb(0, 80, 67);
    font-size: 60px;
    text-decoration: underline;
    text-decoration-color: rgb(247, 177, 188);
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 15px;
    text-decoration: underline;
    text-transform: uppercase;
}

/*paragraphs*/

p {
    font-family: "Josefin Slab", serif;
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 80, 67);
    text-align: center;
}

/*images*/

/*positions elements to sit next to one another on screen*/
.column {
    float: left;
    width: 48%;
    padding: 10px;
}

/*styling for screens <=1200px */
@media screen and (max-width: 1200px) {
    .column {
        width: 100%;
        padding: 0px;
        margin-left: -15px;
        /*centers each column on the screen*/

    }
}

/*styles first 7 img tag elements in the column class*/

.column img:nth-child(-n + 7) {
    width: 500px;
    height: 350px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4),
        0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.recipe-container {
    width: 500px;
    height: 350px;
    margin: 100px auto 180px;
    /*top, right and left, bottom*/
    perspective: 1000px;
    /*tells browswer how much 3 dimentional space the element takes up on screen*/
}

/*styling for mobile screens*/
@media screen and (max-width: 600px) {
    .column img:nth-child(-n + 7) {
        width: 350px;
        height: 225px;
    }

    .recipe-container {
        width: 350;
        height: 225;
    }
}

.recipe-card-background {
    background-color: rgb(149, 238, 223);
}


/*alternates tile background color on smaller screens*/
@media screen and (max-width: 1200px) {
    #pork {
        background-color: rbg(255, 255, 255);
    }

    #biscuits {
        background-color: rgb(149, 238, 223);
    }

}

/*featured recipe*/
/*styles featured recipe h3 tag*/
#featured-header {
    font-family: "Sacramento", cursive;
    /*font from google fonts*/
    font-size: 60px;
    color: rgb(0, 80, 67);
}

#featured-main-text {
    text-align: justify;
    padding-top: 20px;
    margin-left: 40px;
}

/*sets margin left to zero for small screens to center text alignment*/
@media screen and (max-width: 1200px) {
    #featured-main-text {
        margin-left: 0px;
    }
}

/*styles the featured img element only*/
@media screen and (min-width: 1600px) {
    #featured img {
        width: 700px;
        height: auto;
        /*calculates height based on width*/
        margin-left: -100px;
        margin-top: -20px;
        /*margin left and top override .recipe-container selector */
    }
}

/*adjusts the featured img position to center on screens less than 1600px*/
@media screen and (max-width: 1599px) {
    #featured img {
        margin-left: 0px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 600px) {
    #featured .recipe-card-background {
        height: 300px;
    }

    #featured img {
        margin-top: -65px;
    }
}

#featured-button {
    display: block;
    /*positions recipe button on a separate line from other elements in the div*/
    margin: 60px auto 0px;
    background-color: rgb(1, 128, 106);
    border-radius: 35px;
    border: none;
    /*removes default border set by browser when border radius is used*/
    font-family: "Josefin Slab", serif;
    font-size: 30px;
    font-weight: bold;
    padding: 15px 25px;
    /*top bottom and left right values*/
    color: white;
    cursor: pointer;
}

/*styles hover effect of recipe button on the featured recipe sectoin*/
#featured-button:hover {
    background-color: rgb(247, 177, 188);
}

/*image flip*/
/*positions flip effect defines transition time and 3d effect*/
.flip {
    position: relative;
    /*allows the effect to take up all of the width and height*/
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.5s ease-in-out;
    transform-style: preserve-3d;
    /*treats objects as 3d not flat 2d objects*/
}

.flip:hover {
    transform: rotateY(-180deg);
    /*rotaes element clockwise*/
}

.flip-front,
.flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-back {
    background-color: rgb(149, 238, 223);
    border: 2px solid white;
    transform: rotateY(180deg);
    /*zeros out the y axis roation from the flip: hover so the text becomes legible */
}

.text-container {
    padding-top: 70px;

}

@media screen and(max-width: 600px) {
    .text-container {
        padding-top: 0px;
    }
}


/*clears floated elements in recipes section to allow for desired scrolling effect*/
#recipes::after{
    content: "";
    display: table;
    clear: both;
}

/*recipe buttons*/
input[type="button"] {
    background-color: #fff;
    border: none;
    border-radius: 20px;
    font-family: "Josefin Slab", serif;
    /*font from google fonts*/
    font-weight: bold;
    font-size: 22px;
    padding: 11px 17px;
    color: rgb(1, 128, 106);
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: rgb(247, 177, 188);
    color: white;
}

/*contact form css*/
/*sets the content in the contact id element to be centered on the webpage*/
#contact {
    display: block;
    margin-bottom: 70px;
}

form {
    display: table;
    /*sets the table to display as rows and columns*/
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    /*tells the browswer to automatically set margins on left and right to center table on screen*/
}

/*sets the input tags nested inside of the form tags*/
form input {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: rgb(165, 165, 165);
    border: 2px solid rgb(165, 165, 165);
    border-radius: 5px;
    padding: 3px;
    margin: 10px 15px 10px 0px;
    transition: 0.3s ease-out;
    /*transitions back to light grey when the user clicks away from an input field*/
}

form input:focus {
    border: 2px solid rgb(1, 128, 106);
    color: black;
    outline: none;
    /*removes default border that the focus pseudoclass created*/
    transition: 0.3s ease-out;
}

label {
    font-family: "Josefin Slab", serif;
    /*font from google fonts*/
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    resize: both;
    /*allows user to resize the width and height of text feild for input*/
    border: 2px solid rgb(165, 165, 165);
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: rgb(165, 165, 165);
    transition: 0.3s ease-out;
    /*transitions back to light grey after user clicks somewhere else*/
}

textarea:focus {
    color: black;
    border: 3px solid rgb(1, 128, 106);
    transition: 0.3s ease-out;
    outline: none;
}

input[type="submit"] {
    background-color: rgb(1, 128, 106);
    border: none;
    border-radius: 35px;
    font-family: "Josefin Slab", serif;
    /*font from google fonts*/
    font-size: 20px;
    font-weight: bold;
    padding: 15px 20px;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
    float: right;
    /*sets the submit button to lay in the bottom right of the form element*/
}

input[type="submit"]:hover {
    background-color: rgb(247, 177, 188);
}


/*about section*/
/*adds spacing above the about section to avoid being buried under other elements*/
#about{
    padding-top: 30px;
}

#about-text {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: left;
}
