/* import link for roboto font from google*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* import link for mukta fonts from google */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color:white;
    overflow-x: hidden; /*hides the bottom left right scroll bar when elements stretch beyond border*/
}

/*nav bar*/
li{
    display: inline;
    padding: 5px;
}

a{
    font-family: "Roboto", sans-serif; /*font from google*/
    font-size: 20px;
    font-weight: 700;
    text-shadow: 1px .5px 4px rgba(46, 31, 31, 0.5);
    color:white;
    text-decoration: none;/*removes default link styling*/
}

a:hover{
    color:#d7eaf7;/*changes the color when the user hovers*/
}

.nav-bar{
    background-color: #216391;
    padding-top: 10px;
    padding-bottom: 10px;

    /*the following minus margins stretch the navbar background beyond the web browser screen edge*/
    margin-top: -8px;
    margin-left: -10px;
    margin-right: -10px;

    position: sticky; /*creates a sticky element that stays in the same location on the browser screen*/
    top: 0; /*tells the browser to stick the element at the top of the page when user scrolls*/
    z-index: 9; /*sets stack layer of nav bar to scroll over all elements*/

}

/*creates a separator line under home and contact links */
#nav-border{
    padding-bottom: 10px;
    border-bottom: 3px solid #ffffff;
}

/*headers*/
h1, h2, h3 {
    color: #0a3f63;
    text-align: center;
    font-family: "Roboto", sans-serif; /* font from google fonts */
    text-shadow: 1px .5px 4px rgba(0, 0, 0, 0.5);
    margin: 0px;
}

h1{
    font-size: 60px;
    margin-top: 50px;
}

h2{
    font-size: 45px;
    margin-bottom: 20px;
}

h3{
    font-size: 30px;
    margin-top: 20px;
}

#contact-h3{
    text-shadow: none;
}

/* creates a text color change animatoin for h1 tags*/
@keyframes color-text {
    0%{color: #b5e1ff;}
    100%{color: #0a3f63;}
}

/* calls animation by name in the css selector to apply it to a specific html element*/
.animate-text{
    animation: color-text 4s;
}

/* body content*/
img{
    width: 500px;
    height: 350px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 
                0 6px 20px 0 rgba(0, 0, 0, 19);
}

.column{
    float: left;
    width: 48%; /*places images side by side when the float property is used*/
    padding: 10px;
}

/*groups elements inside a div element*/
.container{
    background-size: 100% !important;
    margin: 0px -60px 50px -40px;
    padding-top: 5px;
    padding-bottom: 10px;
}

/*part of .container class selector to display elemts in a table like format*/
.container::after{
    content: "";
    clear: both;
    display: table;
}

/*sets size of div elements to hold a centered image*/
.image-container{
    position: relative;
    width: 500px;
    margin: auto;
    margin-bottom: 50px;
}

/*sets background color in each div with an image specified by id name for each image */
#cat{
    background-color: #d7eaf7;
}
#dog{
    background-color: #c3e0c5;
}
#rabbit{
    background-color: #c3e0c5;
}
#guineapig{
    background-color: #d7eaf7;
}
#fish{
    background-color: #d7eaf7;
}
#reptile{
    background-color: #c3e0c5;
}

/*sets properties for overlay of images*/
.overlay{
    position: absolute;
    top: -13px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 500px;
    height: 350px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    opacity: 0;
}

/*triggers the overlay class to 60% opacity*/
.overlay:hover{
    opacity: 0.6;
}